body {
  margin: 0;
  padding: 0;
  background-color:whitesmoke;
}
.app{
  padding:0.8rem;
}
.hide-on-mobile{
  display:none;
}
@media(min-width:768px){
  .app{
    padding:2rem;
  }
  .hide-on-mobile{
    display:inline;
  }
}